<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--连接SQL Server-->
    <add name="dbtest1" providerName="System.Data.SqlClient" connectionString="server=localhost;User Id=sa;password=123456;database=csmsearch;App=EntityFramework"/>
    <!--<add name="ConnectionString"  connectionString=" ..." providerName="System.Data.OleDb" />
    <add name="ConnectionString"  connectionString=" ..." providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>